/* Global Rules */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root { 
    --main-color : #f6f4ea;
    --secondary-color : #304237;
    --btn-color: #E6FDB1;
    --active-color: #7caa11;
}
/* Global Rules */
.container {
    padding: 50px 70px
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
body { 
    font-family: "Open Sans", sans-serif;
}

/* Start Settings */

    .settings-container {
        position: relative;
        z-index: 10000;
        background-color: #304237;
        width: 250px;
        min-height: calc(100vh - 70px);
        position: absolute;
        top: 70px;
        left: -250px;
        transition: .3s;
        .settings-icon {
            background-color: var(--main-color);
            border-radius: 0 15px 15px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            position: absolute;
            left: 250px;
            top: 50px;
            font-size: 15px;
            transition: .3s ;
            i {
                padding: 8px;
                color: var(--secondary-color);
            }
        }
        .settings-icon:hover { 
            background-color: var(--btn-color);
        }
        }
        .settings-container.open {
            left: 0;
        }

.setting-box {
    text-align: center;
    background-color: var(--active-color);
    margin: 10px;
    width: 230px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 4px;
}
/* Color Options */
.settings-container .color-text {
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px;
    margin: 0;
}
.settings-container .colors {
    display: flex;
    gap: 20px;
    width: 100%;
    padding: 0;
    justify-content: center;
    margin: 30px 0 0;
    .main-color {
        width: 40px;
        height: 40px;
        background-color: #F5F3E8;
        border-radius: 50%;
        opacity: .5; 
        cursor: pointer;   
        transition: .1s;
    }
    .secondary-color {
        width: 40px;
        height: 40px;
        background-color: #304237;
        border-radius: 50%;
        opacity: .5;  
        cursor: pointer;   
        transition: .1s;
    }
    .active {
        opacity: 1;
        outline: solid 3px grey;
        width: 37px;
        height: 37px;
    }
}
/* Random Background Options*/
.background-text {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}
.background-options {
    display: flex;
    justify-content: center;
    gap: 10px;
    color: #f6f4ea;
    font-weight: bold;
    margin: 30px 0 0;
    .yes, .no {
        background-color: #304237;
        border-radius: 6px;
        cursor: pointer;
        opacity: .5;
        width: 50px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .active{
        opacity: 1;
    }
}
/* End Settings */
/* Start Landing Page */
.landing-page { 
    min-height: 100vh;
    background-image: url("../imgs/landing-one.jpg");
    background-size: cover;
    position: relative;
    transition: 2s;
}
.overlay {
    position: absolute;
    background-color: rgb(0 0 0 / 27%);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.landing-page-header {
    background-color: var(--main-color);
    color: var(--secondary-color);
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px;
    z-index: 9999;
    .logo {
        font-size: 25px;
        margin-right: 60px;
        padding-bottom: 10px;
        cursor: pointer;
        color: var(--secondary-color);
    }
    .items {
        display: flex;
        flex: 1;
        font-weight: bold;
        a {
            transition: .3s;
            color: var(--secondary-color);
            margin-right: 20px;
        }
        a:hover,
        .active {
            color:var(--active-color);
        }
    }
    .cta {
        display: flex;
        font-weight: bold;
        .login {
            margin-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .3s;
            cursor: pointer;
        }
        .login:hover { 
            color: var(--active-color);
        }
        .signin {
            background-color: var(--secondary-color);
            width: 150px;
            height: 40px;
            color: var(--main-color);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 35px;
            cursor: pointer;
            transition: .3s;
            font-size: 15px;
        }
        .signin:hover { 
            background-color: var(--active-color);
        }

    }
}
.intro-content { 
    position: relative;
    z-index: 9999;
    width: 50%;
    margin-top: 100px;
    margin-left: 70px;
    color: white;
    .text-head { 
        font-size: 100px;
    }
    .text-paragraph {
        font-size: 25px;
        width: 65%;
        line-height: 1.6;
        margin-bottom: 20px;
    }
    .signin { 
        display: flex;
        width: 220px;
        height: 60px;
        background-color: var(--main-color);
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        color: var(--secondary-color);
        font-weight: bold;
        cursor: pointer;
        font-size: 18px;
        transition: .3s;
    }
    .signin:hover {
        background-color: var(--btn-color);
        color: #304237;
    }
}

/* End Landing Page */

/* Start About Us */
.aboutus {
    background-color: white;
}
.aboutus .container {
    display: flex;
    .text-content {
        flex: 1;
        color: #304237;
        h2 {
            font-size: 40px;
            margin: 50px 0 15px;
        }
        p {
            margin: 0;
            line-height: 1.6;
        }
    }
    .image-box {
        flex: 1;
        text-align: center;
        img {
            width: 300px;
            margin-left: 100px;
        }
    }
}
/* End About Us */

/* Start Skills */
.skills {
    background-color: var(--main-color);
    .container {
        h2 {
            color: var(--secondary-color);
            font-size: 40px;
            margin: 50px 0;
        }
        .skills-box {
            .skill-box {
                display: flex;
                padding: 25px;
                margin: 10px;
                background-color: var(--secondary-color);
                border-radius: 6px;
                .skill-name {
                    font-weight: bold;
                    color: var(--main-color);
                    text-align: center;
                    width: 110px;
                }
                .skill-progress {
                    background-color: #8bf6fd3d;
                    width: calc(100% - 110px);
                    border-radius: 4px;
                    position: relative;
                    span {
                        transition: .5s;
                        position: absolute;
                        width: 0;
                        height: 100%;
                        background-color: #89dbe1;
                        opacity: 1;
                    }
                }
            }
        }
    }
}
 
/* End Skills */

/* Start Gallery */
.gallery {
    .container {
        h2 {
            color: #304237;
            font-size: 40px;
            margin: 50px 0; 
        }
        .pic-container {
            text-align: center;
            img {
                width: 438px;
                height: 294px;
                padding: 3px;
                background-color: #f6f6f6;
                border: solid 1px #ccc;
                cursor: pointer;
                margin: 5px;
            }
        }
    }
}
/* End Gallery */